<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-input [(ngModel)]="email" label-placement="floating" label="Email" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-input [(ngModel)]="mdp" label-placement="floating" label="Mot de passe" type="password"></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" (click)="validerConnexion(email,mdp)">Se connecter</ion-button>
</ion-content>