<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choix de la destination:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-card-title>Choix du trajet:</ion-card-title>
        <ion-item>
          <ion-select [(ngModel)]="selectedVilleDepartId" label="Ville de depart" label-placement="floating">
            <ion-select-option *ngFor="let dest of lesDestinations"
              value={{dest.id}}>{{dest.libelle}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="selectedVilleArriveId" label="Ville d'arrivé" label-placement="floating">
            <ion-select-option *ngFor="let dest of lesDestinations"
              value={{dest.id}}>{{dest.libelle}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Choix du véhicule:</ion-card-title>
      <ion-item>
        <ion-select [(ngModel)]="selectedVoitureId" label="Voitures" label-placement="floating">
          <ion-select-option *ngFor="let voit of lesVoitures"
            value={{voit.id}}>{{voit.leModele.libelle}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="selectedChauffeurId" label="Chauffeur" label-placement="floating">
          <ion-select-option *ngFor="let chauf of lesChauffeurs" value={{chauf.id}}>{{chauf.nom}}
            {{chauf.prenom}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Choix de la date du trajet</ion-card-title>
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [(ngModel)]="selectedDate" min="2024-04-01T00:00:00" max="2026-12-31T23:59:59" id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="addReservation()">Enregistrer la réservation</ion-button>
</ion-footer>
