<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choix de la destination:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-card-title>Choix du trajet</ion-card-title>
        <ion-item>
          <ion-select label="Ville de depart" label-placement="floating">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="Ville d'arrivé" label-placement="floating">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button expand="block">
    Se connecter
  </ion-button>
</ion-footer>